*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: white;
    background-color: #0056ff;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 10% auto 10%;
    overflow-x: hidden;
}

.header{
    grid-row: 1;
    display: grid;
    width: 100%;
    background-color: #ffffff;
    color: black;
    grid-template-columns: 20% auto 20%;
}

.header-content{
    grid-column: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: gray;
}

.menu-icon {
    font-size: 1.5rem;
    cursor: pointer;
}

.main{
    display: grid;
    grid-row: 2;
    grid-template-columns: 20% auto 20%;
    height: auto;
}

.main-content{
    grid-column: 2;
    display: grid;
    grid-template-rows: 30% auto;
    height: auto;
}

.hero{
    grid-row: 1;
    text-align: left;
    width: 100%;
}

.hero-title {
    margin-top: 5%;
    letter-spacing: 0.8rem;
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 0.5%;
    color: #ccccff;
    font-weight: lighter;
}

.hero-heading {
    width: 70%;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2%;
    font-size: 3rem;
}

.laptop-image{
    width: 40%;
    height: auto;
    position: absolute;
    top: 10%; 
    left: 50%; 
    z-index: 2; 
    transform: rotateX(0deg) rotateY(0deg) rotateZ(25deg) scale(1);
    transform-origin: center center; 
}

.laptop-image img{
    width: 100%;
    height: 100%;
}

.features {
    grid-row: 2;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 2%;
    position: relative;
}

.feature-item {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1.5rem;
    text-align: center;
    width: 25%;
    height: min-content;
}

.feature-item h3 {
    color: #ffa500;
    font-size: 1.2rem;
    margin: 0.5% 0;
}

.feature-item p {
    font-size: 0.9rem;
    color: #ccccff;
    margin: 0.5% 0;
}

.more-link {
    color: #ffa500;
    font-size: 0.9rem;
    margin-bottom: 2%;
}

.icon img {
    width: 40px;
    height: 40px;
}

.footer {
    grid-row: 3;
    display: flex;
    justify-content: center;
    width: 100%;
    height: min-content;
    padding: 2%;
    background-color: #222;
    color: #aaa;
    margin-top: auto;
    flex-shrink: 0;
}

.footer p{
    width: 450px;
    text-align: center;
}

@media (min-width: 2500px){
    .logo, .menu-icon{
        font-size: 3rem;
    }

    .hero-title{
        font-size: 2rem;
    }

    .hero-heading{
        font-size: 5rem;
    }

    .icon img {
        width: 60px;
        height: 60px;
    }

    .feature-item h3{
        font-size: 2.4rem;
    }

    .feature-item p, .more-link {
        font-size: 1.8rem;
    }
}

@media (max-width: 800px){
    body{
        max-width: 100vw;
    }

    .main{
        height: 100%;
    }

    .main-content{
        grid-row: 2;
        grid-template-rows: 23% auto;
        height: 100%;
    }

    .hero{
        grid-row: 1;
        width: 100%;
        margin-top: 5%;
        margin-bottom: 0;
        text-align: center;
    }

    .hero-title{
        font-size: 0.8rem;
    }
    
    .hero-heading{
        width: 100%;
        font-size: 2rem;
    }

    .features{
        margin-top: 10%;
        flex-direction: column;
        grid-row: 2;
    }

    .laptop-image{
        width: 90%;
        height: auto;
        position: static;
        transform: rotateX(0deg) rotateY(0deg) rotateZ(25deg) scale(1);
        transform-origin: center center; 
    }

    .feature-item{
        width: 100%;
    }

    .footer{
        margin-top: 10%;
        padding: 5%;
        margin-bottom: 0;
    }

    .footer p{
        width: 72vw;
        font-size: 0.8rem;
    }
}
