*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: white;
    background-color: #0056ff;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.header {
    display: flex;
    width: 100%;
    height: auto;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    padding: 1% 18%;
    background-color: #ffffff;
    color: black;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: gray;
}

.menu-icon {
    font-size: 1.5rem;
    cursor: pointer;
}

.hero {
    text-align: left;
    padding: 2% 18% 0 18%;
    width: 100%;
}

.hero-title {
    letter-spacing: 0.8rem;
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 0.5%;
    color: #ccccff;
    font-weight: lighter;
}

.hero-heading {
    width: 70%;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2%;
    font-size: 3rem;
}

.main-content{
    flex: 1;
    width: 100%;
    min-height: 70vh;
}

.laptop-image{
    width: 30%;
    height: auto;
    position: absolute;
    top: -30%; 
    left: 48%; 
    z-index: 2; 
    transform: rotateX(0deg) rotateY(0deg) rotateZ(20deg) scale(1);
    transform-origin: center center; 
}

.laptop-image img{
    width: 100%;
    height: 100%;
}

.features {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 18% 0rem 16%;
    width: 100%;
    gap: 2%;
    position: relative;
}

.feature-item {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1.5rem;
    text-align: center;
    width: 25%;
    height: 18%;
}

.feature-item h3 {
    color: #ffa500;
    font-size: 1.2rem;
    margin: 0.5% 0;
}

.feature-item p {
    font-size: 0.9rem;
    color: #ccccff;
    margin: 0.5% 0;
}

.more-link {
    color: #ffa500;
    font-size: 0.9rem;
    margin-bottom: 2%;
}

.icon img {
    width: 40px;
    height: 40px;
}

.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15%;
    padding: 2%;
    background-color: #222;
    color: #aaa;
    margin-top: auto;
    flex-shrink: 0;
}

.footer p{
    width: 450px;
    text-align: center;
}

@media (min-width: 2500px){
    .header {
        height: 8%;
        padding: 1rem 30rem 1rem 30rem;
    }
    
    .hero {
        padding: 2rem 30rem 0 30rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        height: 40%;
    }
    
    .hero-title {
        letter-spacing: 0.9rem;
        font-size: 2rem;
        margin-bottom: 0.5rem;
        color: #ccccff;
        font-weight: lighter;
    }
    
    .hero-heading {
        width: 50%;
        font-size: 4rem;
        font-weight: bold;
        margin-bottom: 2rem;
    }
    
    .main-content{
        flex: 1;
    }
    
    .laptop-image{
        width: 20%;
        height: auto;
        position: absolute;
        top: -10%; 
        left: 42%; 
        z-index: 2; 
        transform: rotateX(0deg) rotateY(0deg) rotateZ(20deg) scale(1);
        transform-origin: center center; 
    }
    
    .features {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0 30rem 0rem 30rem;
        width: 100%;
        gap: 2rem;
        position: relative;
    }
    
    .feature-item {
        padding: 3rem;
        width: 18%;
        height: auto;
    }
    
    .feature-item h3 {
        color: #ffa500;
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }
    
    .feature-item p {
        font-size: 1rem;
        color: #ccccff;
    }
    
    .more-link {
        color: #ffa500;
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    
    .icon img {
        width: 60px;
        height: 60px;
    }
    
    .footer {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100px;
        padding: 2rem;
        background-color: #222;
        color: #aaa;
        margin-top: auto;
        flex-shrink: 0;
    }
    
    .footer p{
        width: 450px;
        text-align: center;
    }
} 

/* @media (min-width: 801px) and (max-width: 1500px) {
    .header {
        padding: 1% 15%;
    }
    
    .hero {
        padding: 2% 15% 0 15%;
    }
/* 
    .main-content {
        max-height: 800px;
    }     
    
    .laptop-image{
        top: -3%; 
        left: 50%; 
        width: 30%;
        z-index: 2; 
        transform: rotateX(0deg) rotateY(0deg) rotateZ(20deg) scale(1);
        transform-origin: center center; 
    }
    
    .features {
        padding: 0 15% 0rem 15%;
        width: 100%;
        gap: 2%;
        position: relative;
        flex-grow: 1;
    }
    
    .feature-item {
        padding: 2%;
        text-align: center;
        width: 100%;
        max-width: 25%;
        height: 300px;
    }
    
    .feature-item h3 {
        color: #ffa500;
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }
    
    .feature-item p {
        font-size: 0.9rem;
        color: #ccccff;
    }
    
    .more-link {
        color: #ffa500;
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }
    
    .icon img {
        width: 40px;
        height: 40px;
    }
    
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
        padding: 1rem;
        background-color: #222;
        color: #aaa;
        flex-shrink: 0; 
    }
    
    .footer p{
        width: 450px;
        text-align: center;
    }
} */

@media screen and (max-width: 900px) {
    * {
        box-sizing: border-box;
        /* overflow-x: hidden; */
    }

    body {
        margin: 0;
        box-sizing: border-box;
        display: block;
        /* overflow-x: hidden;  */
    }

    .main-content{
        display: flex;
        flex-direction: column;
        max-height: none;
        overflow: auto;
        flex: 1;
    }

    .header {
        flex-direction: row;
        justify-content: space-between;
        padding: 1.5%;
    }

    .hero {
        padding: 8% 1% 0 1%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-title {
        font-size: 0.8rem;
        margin-bottom: 0.5%;
    }

    .hero-heading {
        text-align: center;
        width: 70%;
        font-size: 1.5rem;
        margin-bottom: 1%;
    }
/* 
    .laptop-image{
        margin-bottom: 2rem;
        overflow: hidden;
    } */

    .laptop-image{
        position: static;
        width: 60%;
        margin-bottom: 2%;
        transform: rotateZ(20deg);
        height: 200px;
    }

    .features {
        flex-direction: column;
        align-items: center;
        padding: 0 1rem 1rem 1rem;
        gap: 2px;
        max-height: none;
    }

    .feature-item {
        width: 70%;
        padding: 1%;
        height: auto;
        margin-bottom: 1rem;
    }

    .footer{
        position: static;
        width: 100%;
        height: 120px;
        display: flex;
        align-items: center;
    }

    .footer p {
        width: 330px;
        height: 50px;
        font-size: 0.8rem;
        padding: 0 1rem;
    }
}
